body {
    background-color: #1a1a1a; /* Dark background */
    color: #e6e6e6; /* Light text color */
    font-family: 'Arial', sans-serif; /* Clean, professional font */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; /* Centers content on the Index page by default */
}

header {
    background-color: #333; /* Darker header */
    padding: 20px;
    text-align: center;
    position: relative; /* Allows positioning of social links */
}

h1 {
    color: #f1c40f; /* Accent color */
    font-size: 36px;
}

.about h2, .about h3 {
    color: #f1c40f; /* Accent color */
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 20px; /* Add margin to the left to give some space from the edge */
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #e6e6e6;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
}

a {
    color: #3498db; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.articles-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.articles-list h2 {
    color: #f1c40f; /* Accent color */
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.articles-list ul {
    list-style-type: none;
    padding: 0;
}

.articles-list ul li {
    margin-bottom: 20px;
    line-height: 1.6;
}

.articles-list ul li a {
    color: #3498db; /* Link color */
    font-weight: bold;
    text-decoration: none;
}

.articles-list ul li a:hover {
    text-decoration: underline;
}

/* New styles for the horizontal menu */
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the menu items */
}

.nav-menu li {
    display: inline; /* Display menu items inline */
    margin-right: 20px; /* Space between menu items */
}

.nav-menu li a {
    color: #3498db; /* Link color */
    text-decoration: none;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

/* Social media icons styling */
.social-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-links svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    fill: #e6e6e6; /* Icon color to match the light text */
}

/* Buffer and left alignment for content */
.content-buffer {
    margin-left: 40px; /* Buffer to prevent content from hugging the left side */
    margin-right: 40px; /* Buffer for the right side as well */
    text-align: left; /* Ensure content is left-aligned */
}

/* Styles for headings */
h4 {
    color: #f1c40f; /* Accent color for headings */
    font-size: 24px;
    margin-top: 20px;
}

/* Styles for role descriptions */
.role-description {
    margin-left: 20px; /* Nesting indent */
    margin-bottom: 15px;
}

.role-title {
    font-style: italic;
    display: block;
}

.role-company {
    font-weight: bold;
    display: block;
}

.role-dates {
    display: block;
}
